.info1 {
    background-image: linear-gradient(135deg, red, orangered, orange, yellow);
    border-radius: 20px;
    color: #fff;
    padding: 30px;
}
.info{
    position: relative;
    top: -300px;
}
@media(max-width:770px){
    .info2 {
        display: flex;
        flex-direction: column;
    }
    .info2 img{
        
        height: 150px;
        width: auto;
    }
}
@media(max-width:320px){
    .info2 {
        display: flex;
        flex-direction: column;
    }
    .info2 img{
        
        height: 125px;
        width: auto;
    }
}
.social {
    font-size: 60px;
}

.yt {
    color: #ff0000;
    cursor: pointer;
    padding: 10px;
}

.fb {
    color: blue;
    cursor: pointer;
    padding: 10px;
}

.tw {
    color: #1DA1F2;
    cursor: pointer;
    padding: 10px;
}

.yt:hover {
    opacity: 0.5;
}

.fb:hover {
    opacity: 0.5;
}

.tw:hover {
    opacity: 0.5;
}

.Gender {
    padding-top: 10px;
    height: 200px;
    width: auto;
}
#badge{
    position: relative;
    bottom: 300px;
    align-items: center;
    display: flex;
    height: 320px;
    justify-content: center;
    margin-bottom: 30px;
    background-image: url("istockphoto-469732852-612x612.jpg");
}

#badge img{
    height: 300px;
    width: auto;
}